<div class="row">
  <h2>Seance List</h2>

</div>
<div class="row">
    <button class="btn btn-primary">Nouvelle Seance</button>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>date</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seance of seances">
            <td>{{seance.id}}</td>
            <td>{{seance.date}}</td>
            <td>{{seance.seancePredef.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>