<h2>
  ExoTemplate
</h2>
<button class="btn btn-primary">Nouveau Template</button>
<div class="row">
    <div class="table-responsive max-heigth">
        <table class="table table-bordered table-hover">
          <thead><tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>  
          </tr></thead>
          <tbody class="max-heigth">
              <tr *ngFor="let exoT of exoTemplates">
                <td>{{exoT.id}}</td>
                <td> {{exoT.name}}</td>
                <td>{{exoT.type}}</td>
              </tr>
          </tbody>
        </table>
    </div>

</div>